{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
</head>
<body>
	<div class="contenedor container">
		<div class="contenedor__Titulo">
			<h1 class="titulo text-center">{{title}}</h1>
		</div>
	</div>
	{%block content%}

	{%endblock%}

<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
</body>

</html>