{%extends "base.html" %}
{%block title%}Lista estudiantes{%endblock%}
{%block content%}
<div class="contenedor container">
	<li class="li__Agregar text-center"><a href="/nuevo" class="a__Agregar btn btn-primary text-center">Agregar nuevo</a></li>
</div>
<div class="contenedor container">
	<div class="contenedor__Tabla">
		<table class="tabla table table-bordered">
			<tr class="tr__Tabla">
				<td class="td__Tabla">Nombre</td>
				<td class="td__Tabla">Domicilio</td>
				<td class="td__Tabla">Edad</td>
				<td class="td__Tabla">Correo</td>
				<td class="td__Tabla">Carrera</td>
				<td class="td__Tabla">Turno</td>
				<td class="td__Tabla">Opciones</td>
			</tr>
			{%if estudiantes%}
			{%for estudiante in estudiantes%}
			<tr class="tr__Tabla">
				<td class="td__Tabla">{{estudiante.nombre}}</td>
				<td class="td__Tabla">{{estudiante.domicilio}}</td>
				<td class="td__Tabla">{{estudiante.edad}}</td>
				<td class="td__Tabla">{{estudiante.correo}}</td>
				<td class="td__Tabla">{{estudiante.carrera}}</td>
				<td class="td__Tabla">{{estudiante.turno}}</td>
				<td class="td__Tabla">
					<li class="li__Tabla"><a href="{% url 'estudiante_editar' estudiante.id %}" class="a__Tabla a__Editar btn btn-primary">Editar</a></li>
					<li class="li__Tabla"><a href="{% url 'estudiante_eliminar' estudiante.id %}" class="a__Tabla a__Eliminar btn btn-danger">Eliminar</a></li>
				</td>
			</tr>
			{%endfor%}
			{%else%}
			<h2>No hay registros</h2>
			{%endif%}
		</table>
	</div>
</div>
{%endblock%}






